* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: #fffcf4;
}

header {
    height: 100vh;
    background: #000 url(img/header-background.png) no-repeat center;
}

.nav-block {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgb(143, 142, 145, 0.5);
    padding: 15px 0;
}

.nav-block nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1170px;
    margin: auto;
}

.logo {
    margin-right: auto;
}

.nav-link:link,
.nav-link:visited {
    text-decoration: none;
    color: #fffcf4;
    font-size: 14px;
    margin-right: 40px;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: 1px solid transparent;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover,
.nav-link:active {
    color: #1dde85;
    border-bottom: 1px solid #1dde85;;
}

.main-banner {
    min-height: 680px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-banner h2 {
    font-family: "Exo", sans-serif;
    color: #fffcf4;
    font-size: 48px;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 42px;
}

.main-banner h2 span {
    font-family: 'Exo', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #1dde85;
}

.main-banner p {
    max-width: 60%;
    color: #ffffff;
    line-height: 36px;
    text-align: center;
}

main {
    /* max-width: 1170px; */
    margin: auto;
}

.section-service {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.service-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

h3 {
    color: #454546;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 60px;
    text-align: center;
}

.service-header h3 span {
    color: #1dde85;
    text-transform: uppercase;
}

.service-header p {
    color: #8f8e91;
    font-weight: 300;
    line-height: 30px;
    width: 75%;
    text-align: center;
}

.features {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-item {
    width: 30%;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #8f8e91;
    margin-bottom: 40px;
}

.features-item:hover {
    border: 1px solid #1dde85;
    cursor: pointer;
}

.features-item:hover .fas,
.features-item:hover h4 {
    color: #1dde85;
}

.features-item:hover .feature-description {
    color: #454546;
}


.features-item .fas {
    color: #454546;
    font-size: 25px;
    margin-bottom: 15px;
}

.features-item h4 {
    color: #454546;
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 20px;
}

.feature-description {
    color: #8f8e91;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.section-meet-us {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.team-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.team-member {
    position: relative;
}

.team-description {
    padding: 12px 0;
    text-align: center;
    background-color: rgba(69, 69, 70, 0.94);
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.team-description:hover {
    background-color: rgba(29, 222, 133, 0.9);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    color: #fffcf4;
    font-weight: 500;
}

.position {
    color: #fffcf4;
    font-size: 14px;
    font-weight: 300;
}

.social {
    margin: 90px 0 45px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 5px 0;
}

.social a {
    color: #fff;
    font-size: 30px;
    margin: 0 5px;
}

.social a:hover .fab {
    transform: scale(0.9);
    color: #e1fff1;
}

.section-portfolio {
    width: 80%;
    margin: auto;
   padding-top: 100px; 
   display: flex;
   flex-direction: column;
   align-items: center;
}

.portfolio-nav a {
    text-decoration: none;
    color: #434243;
    margin-right: 45px;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
}

.portfolio-nav a:last-child {
    margin-right: 0;
}

.portfolio-nav a:hover {
    color: #1dde85;
    border-bottom: 1px solid #1dde85;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 56px;
    overflow: hidden;
}

.gallery-img {
    width: 33.33%;
    margin-bottom: 40px;
}

.pf-btn {
    text-decoration: none;
    color: #fffcf4;
    font-weight: 300;
    background-color: #1dde85;
    padding: 15px 60px;
    border: 1px solid #1dde85;
}

.pf-btn:hover,
.pf-btn:active {
    color: #1dde85;
    background-color: #fffcf4;
    border: 1px solid #1dde85;
}

.section-pricing {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    margin-bottom: 60px;
}

.pricing-row {
    display: flex;
    justify-content: space-around;
}

.pricing-plan-wrapper {
    border: 1px solid transparent;
}

.pricing-plan:hover .pricing-plan-wrapper {
    border: 1px solid #1dde85;
}

.pricing-plan:hover .price {
    border: 1px solid #1dde85;
    background-color: #1dde85;
    color: #fffcf4;
}

.pricing-plan:hover .price span {
    color: #fffcf4;
}

.pricing-plan:hover .order-now-btn {
    border: 1px solid #1dde85;
    background-color: #1dde85;
    color: #fffcf4;
}

.pricing-plan-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5 {
    text-align: center;
    font-weight: 300;
    color: #8f8e91;
    padding-bottom: 30px;
}

.price {
    font-family: 'Roboto Slab', serif;
    font-size: 34px;
    font-weight: 500;
    color: #454546;
    padding: 20px 80px;
    border: 1px solid #454546;
    margin-bottom: 30px;
}

.price span {
    font-size: 18px;
    font-weight: 300;
}

.pricing-plan p {
    font-size: 14px;
    font-weight: 300;
    color: #8f8e91;
    padding-bottom: 20px;
}

.order-now-btn {
    font-size: 14px;
    font-weight: 300;
    color: #454546;
    text-decoration: none; 
    padding: 14px 16px;
    border: 1px solid #454546;
    margin: 25px 0;
}

.section-contact-us {
    width: 100%;
    min-height: 500px;
    padding-top: 90px;
    background: #000 url(img/contact-us-background.png) no-repeat center;
}

.section-contact-us h3 {
    color: #fffcf4;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section-contact-us form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-row input {
    width: 49%;
    padding: 20px 0 20px 20px;
    background: none;
    border: 1px solid #ffffff;
}

.form-row input:focus {
    background: none;
    outline: none;
}

.form-row input::placeholder {
    color: #fffcf4;
    font-style: italic;
}

textarea {
    color: #fffcf4;
    background: none;
    border: 1px solid #ffffff;
    padding: 20px 0 0 20px;
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    font-family: "Roboto", sans-serif;
    color: #fffcf4;
    font-style: italic;
}

.section-contact-us .submit-button {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 14px 30px;
    background-color: #1dde85;
    border: 1px solid transparent;
    color: #fff;
    font-size: 16px;
    transition: all .1s ease-in;
}

.section-contact-us .submit-button:hover {
    background: none;
    border: 1px solid #fff;
}

footer {
    background-color: #0b0a0a;
    color: #8f8e91;
    font-size: 14px;
    padding: 40px 0 0;
    line-height: 30px;
}

h6 {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.footer-main {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-column {
    width: 28%;
}

.footer-about-us {
    margin-right: 90px;
}

footer ul {
    list-style-type: none;
    padding-right: 30px;
}

footer a {
    text-decoration: none;
    color: #8f8e91;
}

footer a:hover {
    color: #1dde85;
}

.footer-links {
    display: flex;
    justify-content: flex-start;
}

.footer-social .fab {
    font-size: 36px;
    margin-right: 10px;
}

.footer-form input {
    background-color: #0b0a0a;
    padding: 15px 0 15px 10px;
    border: 1px solid #838484;
    width: 250px;
    margin-bottom: 10px;
}

.footer-form input:focus {
    outline: none;
}

footer .submit-button {
    display: block;
    background-color: #1dde85;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 12px 16px;
    transition: all .1s ease-in;
}

.submit-button:hover {
    background-color: #838484;
}

.copyright {
    background-color: #000000;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
    font-size: 14px;
}
